<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-wacon-cookie-management" >
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.bezeichnung" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.kategorie" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.anbieter" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.zweck" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.cookiename" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.laufzeit" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.datenschutzlink" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_waconcookiemanagement_domain_model_cookie.host" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>