.waconcookiemanagement{display:none;font-family:Helvetica, sans-serif;font-size:90%;z-index:1000; position:fixed; top:0;left:0;width:100%;height:100%;overflow: auto;background:rgba(0,0,0,0.5); font-weight: 300;}
.waconcookiemanagement *{color:#333333;}
.waconcookiemanagement b{font-weight: bold;}
.waconcookiemanagement a:hover{color:#666666;}
.cookiemanagement{z-index:201; position:fixed;top:10%;left:30%; width:40%;max-width:100%;max-height:80%;overflow: auto;background:#fff;padding:30px 30px;    border-radius: 4px;}
.cookiemanagement h2{text-align:center; font-weight: 600; padding-top: 20px;}
.cookiemanagement ul{margin:0;padding:0;padding-top: 20px;padding-bottom: 20px;text-align:center;}
.cookiemanagement li{display:inline-block;margin-left: 5px; margin-right: 5px;padding:0 5px;border-bottom:1px solid #333333;cursor:pointer;}
.cookiemanagement li:last-child{border-right:0px solid #333333;}
.cookie-btn{
display: inline-block;
    font-family: inherit;
    font-size: 1.25em;
	font-weight: 600;
    padding: .75em 2em;
    text-decoration: none;
    transition: background-color .125s linear;
 background: #8dc63f;
    border-radius: 15px;
    color: #fff;
cursor:pointer;
}


.cookie-btn:hover
{
	color: white;
	text-decoration: none;
}
.cookie-accept{text-align:center;cursor:pointer;}
.cookie-set {cursor:pointer}
.cookieclose{cursor:pointer;float:right;}
.cookie-set.script {cursor:pointer;position:relative;min-height:50px;background:#ffffff;text-align:center;}
.cookie-set.script p{position:absolute;top:45%;color:#333333;text-align:center;width:100%;}
.cookie-management{text-align:center;cursor:pointer;}
.cookie-refuse{margin-left: auto; margin-right: auto;width: 65%; text-align:center;cursor:pointer; border-radius: 15px; padding: 5px; background-color:#ecf0f1;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-back-right{text-align:right;}
.text-back-right a{display:inline-block;padding:0 5px;margin-right: 10px; color:#333333;text-decoration:none;}
.text-back-right a:last-child{border-right:0px solid #333333;}
.cookieback{cursor:pointer;}
.cookie-on{display:none;float:left;cursor:pointer;margin-right:5px;}
.cookie-off{float:left;cursor:pointer;margin-right:5px;}
.cookie-legal a{display:inline-block;padding:0 5px;margin-right: 15px; color:#333333;text-decoration:none;cursor:pointer;}
.cookie-legal a:last-child{border-right:0px solid #333333;}
.info-text{display:none; }
.info-show{cursor:pointer;}
.info-hide{cursor:pointer;}
.category{margin-bottom:20px;background:#eeeeee;padding:10px;}
.category h3{margin-top:0;font-size:1.25rem;}
.cookie-info{background:#fff;padding:10px;}
.cookie-info td{padding:3px 10px 3px 0;border-top:#eeeeee solid 1px;}
.cookie-info table {
    border-collapse: collapse;
    border-spacing: 0px;
width:100%;
}
.cookie-info p{margin-top:0;}
.box-cookie-management{display:none;}
.deactivated{width:40px;height:20px;border-radius:10px;background:#cccc;display:inline-block;}
.off{cursor:pointer;display:block;float:left;background:#fff;width:16px;margin:2px;height:16px;border-radius:8px;}
.activated{width:40px;height:20px;border-radius:10px;background:#8dc63f;display:inline-block;}
.on{cursor:pointer;display:block;float:right;background:#fff;width:16px;margin:2px;height:16px;border-radius:8px;}
.arrow {
	border: .5rem solid #333;
	font-size:0;line-height:0;height:0;padding:0;margin:0px 10px;display:inline-block;
}
.arrow.down {
	border-right-color:  transparent;
	border-bottom-color: transparent;
	border-left-color:   transparent;
margin-bottom:-5px;
}
.arrow.up {
	border-top-color:    transparent;
	border-right-color:  transparent;
	border-left-color:   transparent;
margin-top:-5px;
}