/* DOCUMENT INFORMATION
    - Document: Stylesheet for WACON COOKIE CONSENT BOX
    - Version:  1.1.4
    - Client:   WACON Internet GmbH
    - Author:   Kerstin Schmitt / Oliver Best
*/

.waconcookiemanagement {
    display: none;
    font-family: Helvetica, sans-serif;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}



#CookieBox p,
#CookieBox h1,
#CookieBox h2,
#CookieBox h3 {
    color:#333333;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
}

#CookieBox a {
    color:#333333;
    font-size:16px;
    text-transform: none;
    text-decoration: none;
}

#CookieBox {
    z-index: 201;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    max-width: 100%;
    max-height: 80%;
    overflow: hidden;
    background: #fff;
    padding: 70px 20px 20px;
    border-radius: 5px;
}

#CookieBox h2 {
    text-align: center;
    font-weight: 600;
    font-size:1.6rem;
}

#CookieBox ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#CookieBox p {
    font-size:1.1rem;
    margin:0 auto 10px;
}

#CookieBox .cookie-btn {
    display: inline-block;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5em 1em;
    text-decoration: none;
    background: #8dc63f;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    margin:15px auto;
}

#CookieBox .cookie-btn:hover {
    color: white;
    text-decoration: none;
}

#CookieBox .cookie-accept {
    text-align: center;
    cursor: pointer;
}

#CookieBox .cookie-accept a {
    padding:10px 50px;
}

#CookieBox .cookieclose {
    cursor: pointer;
    position:absolute;
    top:15px;
    right:15px;
    border-radius: 4px;
    border: 1px solid #333;
    background: #333;
    padding: 2px 9px;
    font-family: Verdana, sans-serif;
    font-size: 26px;
    color: #fff;
}

#CookieBox .intro p {
    width:75%;
}

#CookieBox .cookie-management,
#CookieBox .cookie-refuse {
    margin:10px auto;
    width: 65%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    background-color: #ccc;
}

#CookieBox .text-center {
    text-align: center;
}

#CookieBox .text-right,
#CookieBox .text-back-right {
    text-align: right;
}

#CookieBox .text-back-right a {
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
    color: #333333;
    text-decoration: none;
}

#CookieBox .cookieback {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ccc;
}

#CookieBox .cookie-on,
#CookieBox .cookie-off {
    float: left;
    cursor: pointer;
    margin-right: 5px;
}

#CookieBox .cookie-on {
    display: none;
}

#CookieBox .intro .cookie-legal {
    margin-top:50px;
    width:100%;
}

#CookieBox .cookie-legal a {
    display: inline-block;
    padding: 0;
    font-size:.9rem;
    margin-right: 30px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

#CookieBox .cookie-legal a:hover {
    text-decoration: underline;
}

#CookieBox .info-text {
    display: none;
}

#CookieBox .info-show {
    cursor: pointer;
}

#CookieBox .info-hide {
    cursor: pointer;
}


#CookieBox .category {
    background: #eeeeee;
    padding: 10px;
    margin:25px 30px;
}

#CookieBox .category h3 {
    margin-top: 0;
    font-size: 1.25rem;
}



#CookieBox .cookie-info {
    background: #fff;
    padding: 10px;
}

#CookieBox .cookie-info table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

#CookieBox .cookie-info td {
    padding: 3px 10px 3px 0;
    border-top: #eeeeee solid 1px;
}

#CookieBox .cookie-info p {
    margin-top: 0;
}

#CookieBox .box-cookie-management {
    display: none;
    overflow: auto;
}

#CookieBox .box-cookie-management-in > p {
    width:80%;
}

#CookieBox .deactivated,
#CookieBox .activated {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #ccc;
    display: inline-block;
}

#CookieBox .activated {
    background: #8dc63f;
}

#CookieBox .off,
#CookieBox .on {
    cursor: pointer;
    display: block;
    float: left;
    background: #fff;
    width: 16px;
    margin: 2px;
    height: 16px;
    border-radius: 8px;
}

#CookieBox .on {
    float:right;
}

#CookieBox .arrow {
    border: .5rem solid #333;
    font-size: 0;
    line-height: 0;
    height: 0;
    padding: 0;
    margin: 0px 10px;
    display: inline-block;
}

#CookieBox .arrow.down {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-bottom: -5px;
}

#CookieBox .arrow.up {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-top: -5px;
}

/* CookieFix unterer Bereich mit Buttons */
#CookieBox .cookie-fix {
    display: none;
    overflow: auto;
    padding:20px 0 0 0;
}

#CookieBox .cookie-fix .cookie-save {
    float: left;
    margin-left:30px;
}

#CookieBox .cookie-fix .text-back-right {
    float: right;
    margin-right:30px;
}

#CookieBox .cookie-fix .cookieback,
#CookieBox .cookie-fix .cookie-refuse {
    display:block;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #ccc;
    white-space: nowrap;
    width:auto;
}

#CookieBox .cookie-fix .cookie-legal {
    clear: both
}

.cookie-set.script {
    cursor: pointer;
    position: relative;
    min-height: 50px;
    background: #ffffff;
    text-align: center;
}

.cookie-set.script p {
    position: absolute;
    top: 45%;
    color: #333333;
    text-align: center;
    width: 100%;
}

.cookie-set {
    cursor: pointer
}


@media(max-width: 1000px) {
    #CookieBox {
        left: 2%;
        width: 88%;
        top: 5%;
        max-height: 90%;
        min-height: 90%;
    }
}

@media(max-width: 786px) {
    #CookieBox .cookie-fix .text-back-right {
        width:87%;
    }

}