{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
        <f:flashMessages />

        <f:be.container>
          <div class="module">
              <div class="module-docheader t3js-module-docheader">
                  <div class="typo3-docheader-functions">
                     
                      <div class="right">
                          <f:be.buttons.shortcut />
                          <f:be.pagePath />
                          <f:be.pageInfo />
                      </div>
                  </div>
              </div>
              <div class="module-body t3js-module-body">
                  <div id="typo3-inner-docbody" class="col col-12 col-md-6 col-xl-4">
                    <h1>Reports</h1>
                    <p><f:translate key="stats.intro" /></p>
                    
                    <f:form  action="list" name="reports" object="{reports}">
                    <table class="table">
                      <tr>
                        <td><f:translate key="stats.month" /></td>
                        <td>
                          <f:form.select class="form-control"  name="monat" value="{monat}">
                           <f:form.select.option value="01">01</f:form.select.option>
                           <f:form.select.option value="02">02</f:form.select.option>
                           <f:form.select.option value="03">03</f:form.select.option>
                           <f:form.select.option value="04">04</f:form.select.option>
                           <f:form.select.option value="05">05</f:form.select.option>
                           <f:form.select.option value="06">06</f:form.select.option>
                           <f:form.select.option value="07">07</f:form.select.option>
                           <f:form.select.option value="08">08</f:form.select.option>
                           <f:form.select.option value="09">09</f:form.select.option>
                           <f:form.select.option value="10">10</f:form.select.option>
                           <f:form.select.option value="11">11</f:form.select.option>
                           <f:form.select.option value="12">12</f:form.select.option>
                         </f:form.select></td>
                      </tr>
                      <tr>
                        <td><f:translate key="stats.year" /></td>
                        <td><f:form.select class="form-control"  name="jahr"  value="{jahr}" ><f:for each="{years}" as="year">
                          <f:form.select.option value="{year}">{year}</f:form.select.option></f:for>
                        </f:form.select></td>
                      </tr>
                     


                    </table>
<p>
                       <f:form.submit class="btn btn-primary" value="<f:translate key='stats.submit' />" />
                     </f:form>
                     
                     </p>
<f:if condition="{reports}"><f:then>


                     <table class="table">
                       <tr>
                         <td><f:translate key="stats.all" /></td>
                         <td>{reports.0-> f:count()}</td>
                        </tr>
                        <tr>
                          <td><f:translate key="stats.custom" /></td>
                          <td>{reports.1-> f:count()}</td>
                         </tr>
                         <tr>
                          <td><f:translate key="stats.none" /></td>
                          <td>{reports.2-> f:count()}</td>
                         </tr>
                    </table>
                    
                    <table class="table">
                      <f:for each="{pages}" as="page">
                        <tr>
                          <td>{page.page}</td>
                          <td>{page.count}</td>
                         </tr>
                      </f:for>
                   </table>
                    
   </f:then><f:else><p><f:translate key="stats.noresult" /></p></f:else></f:if>
   <p class="text-muted text-center">powered by WACON Internet GmbH</p>
      </f:be.container>

    </f:section>