<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		
		<f:flashMessages />
    
<div class="waconcookiemanagementlist">
<div id="CookieBox2" class="cookiemanagementlist">
  <div class="middle-center">
   <div class="intro">
    
    
    <p ><f:if condition="{teaser}"><f:then>{teaser}</f:then><f:else><f:translate key="cookiefreigabe.intro" /></f:else></f:if></p>
	

 
  </div>  
  <div class="box-cookie-management-list">
    
	<div class="box-cookie-management-in">
    <p><f:translate key="cookiefreigabe.intro2" /></p>
    <f:if condition="{cookies0}">
    <div class="category">      
      <h3><f:translate key="cookiefreigabe.notwendig" /></h3>
      <p><f:translate key="cookiefreigabe.notwendigdesc" /></p>
            <f:for each="{cookies0}" as="cookie">
          <div class="cookie-infolist cookieinfo-{cookie.uid}">
            <div tabindex="0" class="cookie-id cookie{cookie.uid}  cookie-off"><div class="activated"><span class="on"></span></div></div>
              
            <p><b>{cookie.bezeichnung}</b></p>
            <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
            <table>
	          <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
   	          <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	          <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
	          <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	          <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
            </table>
          </div>
        </f:for>
      
    </div>
  </f:if>
    <f:if condition="{cookies1}">
      <div class="category">
       <h3><f:translate key="cookiefreigabe.statistik" /></h3>
        <p><f:translate key="cookiefreigabe.statistikdesc" /></p>
          <f:for each="{cookies1}" as="cookie">
            <div class="cookie-infolist cookieinfo-{cookie.uid}">
              <div tabindex="0" class="cookie-id cookie{cookie.uid}  cookie-off"  role="switch" aria-checked="false"><div class="activated"><span class="on"></span></div></div>
              <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
			    <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
              </table>
            </div>
          </f:for>
      
      </div>
    </f:if>
    <f:if condition="{cookies2}">
      <div class="category">
       <h3><f:translate key="cookiefreigabe.marketing" /></h3>
        <p><f:translate key="cookiefreigabe.marketingdesc" /></p>
        <f:for each="{cookies2}" as="cookie">
            <div class="cookie-infolist cookieinfo-{cookie.uid}">
               <div tabindex="0" class="cookie-id cookie{cookie.uid}  cookie-off"  role="switch" aria-checked="false"><div class="activated"><span class="on"></span></div></div>
              
              <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
     	        <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
   	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
 	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
 	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
 	          </table>
            </div>
          </f:for>
     
      </div>
    </f:if>
    <f:if condition="{cookies3}">
      <div class="category">
         <h3><f:translate key="cookiefreigabe.extern" /></h3>
        <p><f:translate key="cookiefreigabe.externdesc" /></p>
         <f:for each="{cookies3}" as="cookie">
            <div class="cookie-infolist cookieinfo-{cookie.uid}">
               <div tabindex="0" class="cookie-id cookie{cookie.uid}  cookie-off"  role="switch" aria-checked="false"><div class="activated"><span class="on"></span></div></div>
               <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
       	        <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
 	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
 	          </table>
            </div>
          </f:for>
    
      </div>
    </f:if>
    </div>
   </div>
   
  </div>
</div>
</div>

</f:section>
</html>