<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		
		<f:flashMessages />
    <div class="cookie-set" tabindex="0"><f:if condition="{linktext}"><f:then>{linktext}</f:then><f:else><f:translate key="cookiefreigabe.setcookie" /></f:else></f:if></div>
<div class="waconcookiemanagement <f:if condition="{cookieanzeige}"><f:then>firsthidden</f:then><f:else></f:else></f:if>">
<div id="CookieBox" class="cookiemanagement">
  <div class="middle-center">
   <div class="intro">
    <div tabindex="0" class="cookieclose"><f:translate key="cookiefreigabe.close" /></div>
    <p class="h2"><f:if condition="{header}"><f:then>{header}</f:then><f:else><f:translate key="cookiefreigabe.header" /></f:else></f:if></p>
    <p ><f:if condition="{teaser}"><f:then>{teaser}</f:then><f:else><f:translate key="cookiefreigabe.intro" /></f:else></f:if></p>
	

    <p class="cookie-accept-container" tabindex="0" ><a class="cookie-accept cookie-btn cursor none" data-cookie-accept ><f:translate key="cookiefreigabe.accept" /></a></p>
    <p class="cookie-management-container" tabindex="0"><a class="cookie-management cursor" id="data-cookie-individual"  ><f:translate key="cookiefreigabe.individual" /></a></p>
    <p class="cookie-refuse-container" tabindex="0"><a class="cookie-refuse cursor" id="data-cookie-refuse"  ><f:translate key="cookiefreigabe.min" /></a></p>   
<p class="text-right cookie-legal">
     <f:if condition="dataprotection"><f:link.page tabindex="0" pageUid="{dataprotection}"><f:translate key="cookiefreigabe.dataprotection" /></f:link.page></f:if> 
     <f:if condition="imprint"><f:link.page tabindex="0" pageUid="{imprint}"><f:translate key="cookiefreigabe.imprint" /></f:link.page></f:if>
   </p>
  </div>  
  <div class="box-cookie-management">
    <div tabindex="0" class="cookieclose"><f:translate key="cookiefreigabe.close" /></div>
	<div class="box-cookie-management-in">
    <p class="h2"><f:translate key="cookiefreigabe.header2" /></p>
    <p><f:translate key="cookiefreigabe.intro2" /></p>
    <f:if condition="{cookies0}">
    <div class="category">      
      <p class="h3"><f:translate key="cookiefreigabe.notwendig" /></p>
      <p><f:translate key="cookiefreigabe.notwendigdesc" /></p>
      <p tabindex="0" class="text-center info-show cookie-n" ><f:translate key="cookiefreigabe.cookieshow" /><span class="arrow down"></span></p>
      <div class="info-text">
        <p tabindex="0" class="text-center info-hide"><f:translate key="cookiefreigabe.cookiehide" /><span class="arrow up"></span></p>
        <f:for each="{cookies0}" as="cookie">
          <div class="cookie-info cookieinfo-{cookie.uid}">
            <p><b>{cookie.bezeichnung}</b></p>
            <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
            <table>
	          <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
   	          <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	          <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
	          <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	          <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
            </table>
          </div>
        </f:for>
      </div>
    </div>
  </f:if>
    <f:if condition="{cookies1}">
      <div class="category">
        <div tabindex="0" class="cookie-off cookiecat cookiecat-s"  <f:if condition="{cookie1check}">style="display:none"</f:if>><div class="deactivated"><span class="off"></span></div></div>
        <div tabindex="0" class="cookie-on cookiecat cookiecat-s"  <f:if condition="{cookie1check}">style="display:block"</f:if>><div class="activated"><span class="on"></span></div></div>
        <p class="h3"><f:translate key="cookiefreigabe.statistik" /></p>
        <p><f:translate key="cookiefreigabe.statistikdesc" /></p>
        <p tabindex="0" class="text-center info-show cookie-s" ><f:translate key="cookiefreigabe.cookieshow" /> <span class="arrow down"></span></p>
        <div class="info-text">
          <p tabindex="0" class="text-center info-hide"><f:translate key="cookiefreigabe.cookiehide" /><span class="arrow up"></span></p>
          <f:for each="{cookies1}" as="cookie">
            <div class="cookie-info cookieinfo-{cookie.uid}">
              <div tabindex="0" class="cookie-off cookie{cookie.uid}"><div class="deactivated"><span class="off"></span></div></div>
              <div tabindex="0" class="cookie-on cookie{cookie.uid}"><div class="activated"><span class="on"></span></div></div>
              <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
			    <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
              </table>
            </div>
          </f:for>
        </div>
      </div>
    </f:if>
    <f:if condition="{cookies2}">
      <div class="category">
        <div tabindex="0" class="cookie-off cookiecat cookiecat-m"  <f:if condition="{cookie2check}">style="display:none"</f:if>><div class="deactivated"><span class="off"></span></div></div>
        <div tabindex="0" class="cookie-on cookiecat cookiecat-m"  <f:if condition="{cookie2check}">style="display:block"</f:if>><div class="activated"><span class="on"></span></div></div>
        <p class="h3"><f:translate key="cookiefreigabe.marketing" /></p>
        <p><f:translate key="cookiefreigabe.marketingdesc" /></p>
        <p tabindex="0" class="text-center info-show" cookie-m><f:translate key="cookiefreigabe.cookieshow" /><span class="arrow down"></span></p>
        <div class="info-text">
          <p tabindex="0" class="text-center info-hide"><f:translate key="cookiefreigabe.cookiehide" /><span class="arrow up"></span></p>
          <f:for each="{cookies2}" as="cookie">
            <div class="cookie-info cookieinfo-{cookie.uid}">
              <div tabindex="0"  class="cookie-off cookie{cookie.uid}"><div class="deactivated"><span class="off"></span></div></div>
              <div tabindex="0"  class="cookie-on cookie{cookie.uid}"><div class="activated"><span class="on"></span></div></div>
              <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
     	        <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
   	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
 	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
 	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
 	          </table>
            </div>
          </f:for>
        </div>
      </div>
    </f:if>
    <f:if condition="{cookies3}">
      <div class="category">
        <div tabindex="0" class="cookie-off cookiecat cookiecat-e"  <f:if condition="{cookie3check}">style="display:none"</f:if>> <div class="deactivated"><span class="off"></span></div></div>
        <div tabindex="0" class="cookie-on cookiecat cookiecat-e"  <f:if condition="{cookie3check}">style="display:block"</f:if>> <div class="activated"><span class="on"></span></div></div>
        <p class="h3"><f:translate key="cookiefreigabe.extern" /></p>
        <p><f:translate key="cookiefreigabe.externdesc" /></p>
        <p tabindex="0" class="text-center info-show cookie-e"><f:translate key="cookiefreigabe.cookieshow" /><span class="arrow down"></span></p>
        <div class="info-text">
          <p tabindex="0" class="text-center info-hide"><f:translate key="cookiefreigabe.cookiehide" /><span class="arrow up"></span></p>
          <f:for each="{cookies3}" as="cookie">
            <div class="cookie-info cookieinfo-{cookie.uid}">
              <div tabindex="0"  class="cookie-off cookie{cookie.uid}"> <div class="deactivated"><span class="off"></span></div></div>
              <div tabindex="0" class="cookie-on cookie{cookie.uid}"> <div class="activated"><span class="on"></span></div></div>
              <p><b>{cookie.bezeichnung}</b></p>
              <f:if condition="{cookie.zweck}"><f:format.html>{cookie.zweck}</f:format.html></f:if>
              <table>
	            <f:if condition="{cookie.anbieter}"><tr><td><f:translate key="cookiefreigabe.anbieter" />:</td><td>{cookie.anbieter}</td></tr></f:if>
       	        <f:if condition="{cookie.cookiename}"><tr><td><f:translate key="cookiefreigabe.cookiename" />:</td><td>{cookie.cookiename}</td></tr></f:if>
	            <f:if condition="{cookie.laufzeit}"><tr><td><f:translate key="cookiefreigabe.laufzeit" />:</td><td>{cookie.laufzeit}</td></tr></f:if>
 	            <f:if condition="{cookie.datenschutzlink}"><tr><td><f:translate key="cookiefreigabe.datenschutzlink" />:</td><td>{cookie.datenschutzlink}</td></tr></f:if>
	            <f:if condition="{cookie.host}"><tr><td><f:translate key="cookiefreigabe.host" />:</td><td>{cookie.host}</td></tr></f:if>
 	          </table>
            </div>
          </f:for>
        </div>
      </div>
    </f:if>
    </div>
   </div>
   <div class="cookie-fix">  
	  <p class="text-center cookie-save"><a tabindex="0" class="cookie-btn cursor" data-cookie-accept><f:translate key="cookiefreigabe.save" /></a></p>
      <p class="text-back-right"><a class="cookieback" tabindex="0"><f:translate key="cookiefreigabe.back" /></a><a tabindex="0" class="cookie-refuse" ><f:translate key="cookiefreigabe.min" /></a></p>   
	  <p class="text-right cookie-legal">
     <f:if condition="dataprotection"  ><f:link.page tabindex="0" pageUid="{dataprotection}"><f:translate key="cookiefreigabe.dataprotection" /></f:link.page></f:if> 
     <f:if condition="imprint"  ><f:link.page pageUid="{imprint}"><f:translate key="cookiefreigabe.imprint" /></f:link.page></f:if>
   </p>
    </div>
   
  </div>
</div>
</div>

</f:section>
</html>