{namespace t=Waconcookiemanagement\WaconCookieManagement\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:if condition="{direct}">
		<f:then><f:variable name="cookieset">cookie-set-direct</f:variable></f:then>
		<f:else><f:variable name="cookieset">cookie-set</f:variable></f:else>
	</f:if>
	<f:spaceless>
	<div class="wcmcontainer wcm-{uid}" cookie-uid="{cookieuid}">
		<f:if condition="{active}">
			<f:then>
				<f:if condition="{content1}"><f:format.raw>{content1}</f:format.raw></f:if>
				<f:if condition="{cookiecontentarray}">
					<f:for each="{cookiecontentarray}" as="cookiecontent">
						<f:cObject typoscriptObjectPath="lib.fluidLoadRecord">{cookiecontent}</f:cObject>
					</f:for>
				</f:if>
			</f:then>
			<f:else>
				<f:variable name="needimage">1</f:variable>
				<f:variable name="setlink"></f:variable>
				
					
				<f:if condition="{images}">
					<f:for each="{images}" as="img">		
					<f:variable name="setlink"><f:format.raw>{setlink}</f:format.raw>
							<f:image image="{img}" title="{img.title}" alt="{img.alternate}"/>
						</f:variable>
						<f:variable name="needimage">0</f:variable>
					</f:for>
					
				</f:if>
				<f:if condition="{needimage}">		
					<f:if condition="{mycookie.nocookieimage}">
						<f:variable name="setlink">
						<f:format.raw>{setlink}</f:format.raw>
							<f:image image="{mycookie.nocookieimage}" title="{mycookie.nocookieimage.title}" alt="{mycookie.nocookieimage.alternative}" />
						</f:variable>
					</f:if>
				</f:if>
				<f:if condition="{cookietext}">
					<f:then>
						<f:variable name="setlink">
						<f:format.raw>{setlink}</f:format.raw><p>{cookietext}</p></f:variable></f:then>
					<f:else>
						<f:if condition="{mycookie.nocookietext}">
							<f:variable name="setlink">
						<f:format.raw>{setlink}</f:format.raw><f:format.raw>{mycookie.nocookietext}</f:format.raw></f:variable>
						</f:if></f:else>
					</f:if>
					<f:if condition="{nocookiecontentarray}">
						
						<f:for each="{nocookiecontentarray}" as="cookiecontent">
							<f:if condition="{cookiecontent}">
								<f:variable name="setlink">
						<f:format.raw>{setlink}</f:format.raw>
									<f:cObject typoscriptObjectPath="lib.fluidLoadRecord">{cookiecontent}</f:cObject>
							</f:variable>
							</f:if>
						</f:for>
					</f:if>
					
					<f:if condition="{setlink}">
					<div class="{cookieset} cookiecontent cookieuid-{cookieuid} script" tabindex="0" data-id="{cookieuid}" role="button" aria-label="{mycookie.nocookietext} {cookietext}"><f:format.raw>{setlink}</f:format.raw>
					</div></f:if>
				</f:else>
			</f:if>
		</div></f:spaceless>
	</f:section>
</html>