{namespace t=Waconcookiemanagement\WaconCookieManagement\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
<f:if condition="{content1}">
<f:then><f:format.raw>{content1}</f:format.raw></f:then>
<f:else>
	<f:if condition="{cookietext}">
		<div class="cookie-set cookiecontent cookieuid-{cookieuid} script">
			<f:if condition="{content2}">
				<f:for each="{t:FAL(uid=uid, field='image', table='tt_content')}" as="preview">
        			<f:image src="{f:uri.image(image=preview)}" title="{preview.title}" />
				</f:for>	
			</f:if>
			<p>{cookietext}</p>
		</div>
	</f:if>
</f:else>
</f:if>
	</f:section>
</html>